<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" style="cursor: pointer;">Trainulo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav w-100  d-flex flex-row justify-content-around">
          <li class="nav-item">
            <a class="nav-link text-white active" routerLinkActive="active" aria-current="page" routerLink="/auth" *ngIf="!isAuthenticated">Register / Sign In</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link text-white active" routerLinkActive="active" aria-current="page" routerLink="/training-plan" >Training Plan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="active" routerLink="/equipment-list">Equipment List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" style="cursor: pointer;"  routerLinkActive="active" *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
          </li>
         
          <li class="nav-item dropdown position-relative" *ngIf="isAuthenticated">
            <a class="nav-link dropdown-toggle text-white" role="button" (click)="onManage()">
              Manage
            </a>
            <ul *ngIf="showDropDown" class=" d-flex gap-2 flex-column bg-white list-unstyled border border-3 rounded p-2 manage">
              <li><a class="dropdown-item fs-5 border border-1 rounded" style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
              <li><a class="dropdown-item fs-5 border border-1 rounded" style="cursor: pointer;" (click)="onDeleteTrainingPlan()">Delete Data</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

